#textdomain wesnoth-Invasion_from_the_Unknown

[unit]
	id=Fake Explosion
	name=""
	race=monster
	image="misc/blank-hex.png"
	ellipse="misc/ellipse-none"
	hitpoints=1
	movement_type=fly
	movement=5
	experience=1
	level=1
	alignment=neutral
	advanceto=null
	cost=1
	usage=scout
	unit_description=""
	hide_help=true
	die_sound=explosion.ogg
	[death]
		[frame]
			begin=0
			end=75
			image="projectiles/fire-burst-small-1.png"
		[/frame]
		[frame]
			begin=75
			end=150
			image="projectiles/fire-burst-small-2.png"
		[/frame]
		[frame]
			begin=150
			end=225
			image="projectiles/fire-burst-small-3.png"
		[/frame]
		[frame]
			begin=225
			end=300
			image="projectiles/fire-burst-small-4.png"
		[/frame]
		[frame]
			begin=300
			end=375
			image="projectiles/fire-burst-small-5.png"
		[/frame]
		[frame]
			begin=375
			end=450
			image="projectiles/fire-burst-small-6.png"
		[/frame]
		[frame]
			begin=450
			end=525
			image="projectiles/fire-burst-small-7.png"
		[/frame]
		[frame]
			begin=525
			end=600
			image="projectiles/fire-burst-small-8.png"
		[/frame]
	[/death]
[/unit]
