[scenario]
	#textdomain wesnoth-Invasion_from_the_Unknown
	id=02_Forced_from_Home
	name= _ "Forced from Home"
	{MAP 02_Forced_from_Home.map}
	{TURNS 18 16 15}
	victory_when_enemies_defeated=no
	next_scenario=03_Horrors_from_the_Depths

	{DUSK2}
	{LONGDARK1}
	{LONGDARK2}
	{LONGDARK3}
	{LONGDARK4}
	{DAWN1}
	{MORNING1}
	{MIDDAY1}
	{AFTERNOON1}
	{DUSK1}
	{SHORTDARK}
	{DAWN2}
	{MORNING2}
	{MIDDAY2}
	{AFTERNOON2}

	[time_area]
		{UNDERGROUND}
		x=33-40,34-40,35-40,35,37,39
		y=1-3  ,4    ,5    ,6 ,6 ,6
	[/time_area]

	{STORYTXT_FORCED_FROM_HOME}
	{STORYMAP_FORCED_FROM_HOME}

	{SCENARIO_MUSIC "battle.ogg"}
	{DEATHS_SCENARIO_01}

	[side]
		type=Elvish Hero
		description=Galas
		user_description= _ "Galas"
		unrenamable=yes
		side=1
		canrecruit=1
		{INCOME 3 2 0}
		controller=human
		team_name=heroes
	[/side]

	{STARTING_VILLAGES 1 30}

# wmllint: validate-off
# wmlindent: start ignoring
	#define FFH_SIDE SIDENUM TYPE DESC UDESC
		[side]
			type={TYPE}
			description={DESC}
			user_description={UDESC}
			side={SIDENUM}
			canrecruit=1
			recruit=Swordsman2,Highguard,Bowman,Cavalryman,Dragoon,Outlaw,Fugitive,Rogue,Thief,Thug,Bandit,Man at Arms,Chaos Hound,Chaos Invoker,Chaos Magus,Chaos Invader,Dark Knight,Doom Guard,Demon,Demon Grunt
			gold=9000
			income=100
			[ai]
				recruitment_ignore_bad_movement=yes
				recruitment_ignore_bad_combat=yes
				recruitment_pattern=scout,fighter,mixed fighter,fighter,mixed fighter,archer
				{ATTACK_DEPTH 4 5 5}
				passive_leader=yes
				leader_value=0.0
				villages_per_scout=0
				village_value=0.5
				caution=-5.0
				aggression=1.0
			[/ai]
			team_name=baddies
			{CHAOS_FLAG}
		[/side]
		
		{STARTING_VILLAGES {SIDENUM} 4}
	#enddef
	
		{FFH_SIDE 2 (Dark General) (General Duran) (_"General Duran")}
		{FFH_SIDE 3 (Champion) Kaldor (_"Kaldor")}
		{FFH_SIDE 4 (Master Bowman) Landor (_"Landor")}
		{FFH_SIDE 5 (Iron Mauler) Dante (_"Dante")}
# wmlindent: stop ignoring
# wmllint: validate-on

	[event]
		name=prestart
		# Add Civilians to recruit list
		{ALLOW_RECRUIT 1 (Elvish Civilian)}

		# Initialize variables
		{VARIABLE analia_made_it 0}
		{VARIABLE galas_made_it 0}
		{VARIABLE analia_awaits 0}
		{VARIABLE galas_awaits 0}

		# Initialize objectives
		[objectives]
			side=1
			{OBJECTIVE_TO_WIN ( _ "Resist for 3 turns")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Analia")}
			{OBJECTIVE_TO_LOSE ( _ "Turns run out")}
			note= _ "After the third turn your heroes will have to flee to the caves."
		[/objectives]

		# Create Analia's unit
		[unit]
			description=Analia
			user_description= _ "Analia"
			type=Alt Elvish Sorceress
			side=1
			x,y=21,22
			profile=portraits/analia.jpg
			{IS_HERO}
			unrenamable=yes
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_INTELLIGENT}
				[object]
					[effect]
						apply_to=new_ability
						[abilities]
							{ABILITY_CURES}
						[/abilities]
					[/effect]
				[/object]
			[/modifications]
		[/unit]
	[/event]

	[event]
		name=start
		{MSG_UNIT Galas ( _ "Fire! Fire on the horizon! It must be an invasion!")}
		[move_unit_fake]
			side=1
			type=Elvish Scout
			x=28,23
			y=31,23
		[/move_unit_fake]
		[unit]
			side=1
			type=Elvish Scout
			x=23
			y=23
			description=Vólrand
			user_description= _ "Vólrand"
			unrenamable=yes
			moves=0
			resting=no
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_DEXTROUS}
			[/modifications]
		[/unit]
		{MSG_UNIT Vólrand ( _ "Indeed, my lord! It's an entire human army, and they move fast to surround us!")}
		{MSG_UNIT Analia ( _ "An entire army? That's impossible, something like that has never been seen since the Golden Age! You must be wrong.")}
		{MSG_UNIT Vólrand ( _ "I doubt that. My eyes and those of my fellow scouts don't lie!")}
		{MSG_UNIT Galas ( _ "If that is actually true, we must prepare to fight. Nobody will take over this valley, having an entire army or not! Men, to arms!")}
	[/event]

#define CAVE_GOAL_POS_FILTER
	x=34-40,35
	y=1-4  ,5
#enddef

	[event]
		name=victory
		{CLEAR_VARIABLE analia_made_it}
		{CLEAR_VARIABLE analia_awaits}
		{CLEAR_VARIABLE galas_made_it}
		{CLEAR_VARIABLE galas_awaits}
	[/event]

#define TRY_VICTORY
	[store_villages]
		owner_side=1
		variable=ffh_village_probe
	[/store_villages]

	# this is intentional, even tho we still don't know if the
	# player won or not...
	{DEFEAT_MUSIC}
	[if]
		{VARIABLE_NUM_LESS_THAN ffh_village_probe.length 10}
		[then]
			{MSG_UNIT Galas ( _ "We could not keep enough civilians safe before entering the caves!")}
			{REDRAW}
			{DELAY 750}
			{MSG_NARRATOR ( _ "Galas and Analia go over a nearby hill to contemplate the most terrible landscape they have ever seen, probably, in their lives.")}
			{MSG_UNIT Analia ( _ "It seems that they did not survive the slaughter... I am sorry Galas, we have failed to protect our people...")}
			{MSG_UNIT Galas ( _ "No!")}
			[endlevel]
				result=defeat
			[/endlevel]
		[/then]
		[else]
			{MSG_UNIT Galas ( _ "The darkness... who knows what perils await us there?")}
			{MSG_UNIT Analia ( _ "Unfortunately, if we are to survive, our only option is to go in there.")}
			{MSG_UNIT Galas ( _ "Yes, but what about our people? Most of them are not experienced in moving at night, let alone in the darkness and depths of a cavern!")}
			{MSG_UNIT Analia ( _ "I am afraid we have no other alternative left. Would you, civilians, prefer to stay here to fight until secure death, so that no traces of our civilization are left at the end of this day?")}
			[message]
				speaker=narrator
				image=units/elves-wood/civilian.png
				caption= _ "Elvish Civilian"
				message= _ "No, my lady. We will follow you for the sake of our survival."
			[/message]
			{MSG_UNIT Galas ( _ "So shall it be...")}
			{MSG_UNIT Analia ( _ "Then, follow me, quickly.")}
			{__ENDLEVEL_SHARED}
			[endlevel]
				result=continue
			[/endlevel]
		[/else]
	[/if]
#enddef

	[event]
		name=recruit
		[filter]
			side=2,3,4,5
			race=demon
			[or]
				race=monster
			[/or]
		[/filter]

		{PLAY_SOUND demon-appearance.ogg}
		[scroll_to_unit]
			x,y=$x1,$y1
		[/scroll_to_unit]
		{REDRAW}
		{DELAY 1000}

		[role]
			role=scared_one
			side=1
			[not]
				description=Analia
			[/not]
			[not]
				canrecruit=1
			[/not]
		[/role]

		{MSG_SUF (role=scared_one) ( _ "What was that!?")}
		{MSG_UNIT Galas ( _ "Oh my... what's that thing?")}
		{MSG_UNIT Analia ( _ "I sense a great evil coming from there... This is not good.")}

		[event]
			first_time_only=no
			name=new turn
			{VARIABLE_OP new_goal_timer add 1}
		[/event]
	[/event]

	[event]
		name=turn 3
		[role]
			role=scared_one
			side=1
			[not]
				description=Analia
			[/not]
			[not]
				description=Galas
			[/not]
		[/role]
		{MSG_SUF (role=scared_one) ( _ "Their numbers are unlimited! I don't think we'll resist their siege.")}
		{MSG_UNIT Analia ( _ "This is worse than I expected. So it is true, there are still humans left on this continent, and they have built an army, a big and organized one.")}
		{MSG_UNIT Galas ( _ "What would you suggest?")}
		{MSG_UNIT Analia ( _ "If we stay here any longer, we'll be doomed, specially since they seem to have the forces of evil by their side. So, I say withdraw to the northern caves.")}
		{MSG_UNIT Galas ( _ "The caves? But, but... nobody has entered them for centuries! We don't know what may be lurking in there!")}
		{MSG_UNIT Analia ( _ "Yes, I know, but it's our only option now. We are being surrounded on the East, West and South. If we retreat to the North on the surface, they will catch us in a day or two. On the other hand, going underground gives us the possibility to block their way, so that we can get far from them and find a safer place. This valley is no longer safe. Even if we defeated them here, which I doubt, more will come sooner or later.")}
		{MSG_UNIT Galas ( _ "I see that there is no alternative but to flee to the caves. But it is important not to forget our civilians; they are the base of our civilization as a whole, as warriors and archers are less common amongst us.")}
		{MSG_UNIT Analia ( _ "Yes, we must not allow those beasts to steal our villages and slaughter their inhabitants.")}

		# Set new objectives
		[objectives]
			side=1
			summary= _ "New Objectives:"
			{OBJECTIVE_TO_WIN ( _ "Move Galas and Analia inside the north-eastern cave,")}
			{OBJECTIVE_TO_WIN ( _ "making sure you own at least 10 villages by the time they arrive to the cavern")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Analia")}
			{OBJECTIVE_TO_LOSE ( _ "Galas and Analia arrive to the cavern with less than 10 villages in posession")}
			{OBJECTIVE_TO_LOSE ( _ "Turns run out")}
		[/objectives]

		[event]
			name=moveto
			first_time_only=no
			[filter]
				description=Galas
				[not]
					{CAVE_GOAL_POS_FILTER}
				[/not]
			[/filter]
	
			{VARIABLE galas_made_it 0}
		[/event]
	
		[event]
			name=moveto
			first_time_only=no
			[filter]
				description=Analia
				[not]
					{CAVE_GOAL_POS_FILTER}
				[/not]
			[/filter]
	
			{VARIABLE analia_made_it 0}
		[/event]
			
		# Analia makes it there, check for Galas
		[event]
			name=moveto
			first_time_only=no
			[filter]
				description=Analia
				{CAVE_GOAL_POS_FILTER}
			[/filter]
	
			[if]
				[variable]
					name=analia_made_it
					numerical_equals=0
				[/variable]
				[then]
					{VARIABLE analia_made_it 1}
					[if]
						[variable]
							name=galas_made_it
							numerical_equals=1
						[/variable]
						[then]
							{TRY_VICTORY}
						[/then]
						[else]
							[if]
								[variable]
									name=analia_awaits
									numerical_equals=0
								[/variable]
								[then]
									{VARIABLE analia_awaits 1}
									{MSG_UNIT Analia ( _ "Make haste, Galas, or the enemies will get you!")}
								[/then]
							[/if]
						[/else]
					[/if]
				[/then]
			[/if]
		[/event]
			
		# Galas makes it there, check for Analia
		[event]
			name=moveto
			first_time_only=no
			[filter]
				description=Galas
				{CAVE_GOAL_POS_FILTER}
			[/filter]
	
			[if]
				[variable]
					name=galas_made_it
					numerical_equals=0
				[/variable]
				[then]
					{VARIABLE galas_made_it 1}
					[if]
						[variable]
							name=analia_made_it
							numerical_equals=1
						[/variable]
						[then]
							{TRY_VICTORY}
						[/then]
						[else]
							[if]
								[variable]
									name=galas_awaits
									numerical_equals=0
								[/variable]
								[then]
									{VARIABLE galas_awaits 1}
									{MSG_UNIT Galas ( _ "Hurry up, Analia, or the enemies will catch you!")}
								[/then]
							[/if]
						[/else]
					[/if]
				[/then]
			[/if]
		[/event]
	[/event]

	[event]
		name=time over
		{MSG_UNIT Analia ( _ "We did not make it in time. We are doomed...")}
	[/event]

#undef TRY_VICTORY

[/scenario]
