[scenario]
	#textdomain wesnoth-Invasion_from_the_Unknown
	id=02_Forced_from_Home
	name= _ "Forced from Home"
	{MAP 02_Forced_from_Home.map}
	{TURNS 18 16 15}
	victory_when_enemies_defeated=no
	next_scenario=03_Horrors_from_the_Depths

	{DUSK2}
	{LONGDARK1}
	{LONGDARK2}
	{LONGDARK3}
	{LONGDARK4}
	{DAWN1}
	{MORNING1}
	{MIDDAY1}
	{AFTERNOON1}
	{DUSK1}
	{SHORTDARK}
	{DAWN2}
	{MORNING2}
	{MIDDAY2}
	{AFTERNOON2}

	[time_area]
		{UNDERGROUND}
		x=33-40,34-40,35-40,35,37,39
		y=1-3  ,4    ,5    ,6 ,6 ,6
	[/time_area]

	{STORYTXT_FORCED_FROM_HOME}
	{STORYMAP_FORCED_FROM_HOME}

	{SCENARIO_MUSIC "battle.ogg"}

	[side]
		type=Elvish Hero
		description=Galas
		user_description= _ "Galas"
		unrenamable=yes
		side=1
		canrecruit=1
		{INCOME 7 5 3}
		controller=human
		team_name=heroes
	[/side]

	{STARTING_VILLAGES 1 30}

#define FFH_FOES_RECRUITS
Swordsman2,Highguard,Bowman,Cavalryman,Dragoon,Man at Arms,Chaos Hound,Chaos Invoker,Chaos Magus,Chaos Invader,Dark Knight,Doom Guard,Demon,Demon Grunt,Crossbowman #enddef

# wmllint: validate-off
# wmlindent: start ignoring
	#define FFH_SIDE SIDENUM TYPE DESC UDESC
		[side]
			type={TYPE}
			description={DESC}
			user_description={UDESC}
			side={SIDENUM}
			canrecruit=1
			recruit={FFH_FOES_RECRUITS}
			gold=9000
			income=100
			[ai]
				recruitment_pattern=scout,fighter,mixed fighter,fighter,mixed fighter,archer
				{ATTACK_DEPTH 2 3 4}
				passive_leader=yes
				leader_value=0.0
				{NO_SCOUTS}
				village_value=0.05
				caution=-5.0
				aggression=1.0
			[/ai]
			team_name=baddies
			{CHAOS_FLAG}
		[/side]
		
		{STARTING_VILLAGES {SIDENUM} 4}
	#enddef
	
		{FFH_SIDE 2 (Dark General) (General Duran) (_"General Duran")}
		{FFH_SIDE 3 (Champion) Kaldor (_"Kaldor")}
		{FFH_SIDE 4 (Master Bowman) Landor (_"Landor")}
		{FFH_SIDE 5 (Iron Mauler) Dante (_"Dante")}
# wmlindent: stop ignoring
# wmllint: validate-on

	[event]
		name=prestart
		# Add Civilians to recruit list
		{ALLOW_RECRUIT 1 (Elvish Civilian)}
		# Spawn some guards for the baddies
#define FFH_SPAWN_GUARD SIDE X Y
		#{VARIABLE_RANDOM random_guard_type ({FFH_FOES_RECRUITS}) }
		# Above statement causes an assertion failure on 1.3.12 (GNU/Linux, 64bits, optimized) at least
		{RANDOM ({FFH_FOES_RECRUITS})}
		{ANONYMOUS_GUARD $random {SIDE} {X} {Y} }
#enddef

		{FFH_SPAWN_GUARD 2 8 7}
		{FFH_SPAWN_GUARD 2 10 10}
		{FFH_SPAWN_GUARD 2 7 13}

		{FFH_SPAWN_GUARD 3 7 18}
		{FFH_SPAWN_GUARD 3 8 19}
		{FFH_SPAWN_GUARD 3 8 21}
		{FFH_SPAWN_GUARD 3 6 22}

		{FFH_SPAWN_GUARD 4 8 31}
		{FFH_SPAWN_GUARD 4 10 32}
		{FFH_SPAWN_GUARD 4 11 34}

		{FFH_SPAWN_GUARD 5 30 35}
		{FFH_SPAWN_GUARD 5 32 33}
		{FFH_SPAWN_GUARD 5 35 34}

		# Initialize variables
		{VARIABLE analia_made_it 0}
		{VARIABLE galas_made_it 0}
		{VARIABLE analia_awaits 0}
		{VARIABLE galas_awaits 0}
		{VARIABLE essential_villages_count {DIFF 3 5 7} }

		{CLEAR_VARIABLE random}

		# Initialize objectives
		[objectives]
			side=1
			{OBJECTIVE_TO_WIN ( _ "Resist for as long as possible")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Analia")}
			{OBJECTIVE_TO_LOSE ( _ "Less than $essential_villages_count elven villages are left standing")}
			{OBJECTIVE_TO_LOSE ( _ "Turns run out")}
			{OBJECTIVE_NOTES (_"You may have to flee to the caves if things get worse.")}
		[/objectives]

		# Create Analia's unit
		[unit]
			description=Analia
			user_description= _ "Analia"
			type=Elvish Sorceress
			side=1
			x,y=21,22
			profile=portraits/analia.jpg
			{IS_HERO}
			unrenamable=yes
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_INTELLIGENT}
				[object]
					[effect]
						apply_to=new_ability
						[abilities]
							{ABILITY_CURES}
						[/abilities]
					[/effect]
				[/object]
			[/modifications]
		[/unit]
	[/event]

	[event]
		name=start
		{MSG_UNIT Galas ( _ "Fire! Fire on the horizon! It must be an invasion!")}
		{PLAY_SOUND "horse-elf-canter.wav"}
		[move_unit_fake]
			side=1
			type=Elvish Scout
			x=28,23
			y=31,23
		[/move_unit_fake]
		[unit]
			side=1
			type=Elvish Scout
			x=23
			y=23
			description=Vólrand
			user_description= _ "Vólrand"
			unrenamable=yes
			moves=0
			resting=no
			{FACING_REVERSE}
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_DEXTROUS}
			[/modifications]
		[/unit]
		{MSG_UNIT Vólrand ( _ "Indeed, my lord! It's an entire human army, and they move fast to surround us!")}
		{MSG_UNIT Analia ( _ "An entire army? That's impossible, something like that has never been seen since the Golden Age! You must be wrong.")}
		{MSG_UNIT Vólrand ( _ "I doubt that. My eyes and those of my fellow scouts don't lie!")}
		{MSG_UNIT Galas ( _ "If that is actually true, we must prepare to fight. Nobody will take over this valley, having an entire army or not! Men, to arms!")}
	[/event]

#define CAVE_GOAL_POS_FILTER
	x=34-40,35
	y=1-4  ,5
#enddef

	[event]
		name=victory
		{CLEAR_VARIABLE analia_made_it}
		{CLEAR_VARIABLE analia_awaits}
		{CLEAR_VARIABLE galas_made_it}
		{CLEAR_VARIABLE galas_awaits}
		{CLEAR_VARIABLE essential_villages_count}
		{CLEAR_VARIABLE ffh_village_probe}
	[/event]

#define TRY_VICTORY
	[store_villages]
		owner_side=1
		variable=ffh_village_probe
		terrain=Gg^Ve
	[/store_villages]

	# this is intentional, even tho we still don't know if the
	# player won or not...
	{DEFEAT_MUSIC}
	[if]
		{VARIABLE_NUM_LESS_THAN ffh_village_probe.length "$essential_villages_count" }
		[then]
			{MSG_UNIT Galas ( _ "We could not keep enough civilians safe before entering the caves!")}
			{REDRAW}
			{DELAY 750}
			{MSG_NARRATOR ( _ "Galas and Analia go over a nearby hill to contemplate the most terrible landscape they have ever seen, probably, in their lives.")}
			{MSG_UNIT Analia ( _ "It seems that they did not survive the slaughter... I am sorry, Galas. We have failed to protect our people...")}
			{MSG_UNIT Galas ( _ "No!")}
			[endlevel]
				result=defeat
			[/endlevel]
		[/then]
		[else]
			{MSG_UNIT Galas ( _ "The darkness... who knows what perils await us there?")}
			{MSG_UNIT Analia ( _ "Unfortunately, if we are to survive, our only option is to go in there.")}
			{MSG_UNIT Galas ( _ "Yes, but what about our people? Most of them are not experienced in moving at night, let alone in the darkness and depths of a cavern!")}
			{MSG_UNIT Analia ( _ "I am afraid we have no other alternative left. Would you, civilians, prefer to stay here to fight until sure death, so that no traces of our civilization are left at the end of this day?")}
			[message]
				speaker=narrator
				image="units/elves-wood/civilian.png~RC(magenta>red)"
				caption= _ "Elvish Civilian"
				message= _ "No, my lady. We will follow you for the sake of our survival."
			[/message]
			{MSG_UNIT Galas ( _ "So shall it be...")}
			{MSG_UNIT Analia ( _ "Then, follow me, quickly.")}
			{__ENDLEVEL_SHARED}
			[endlevel]
				result=continue
			[/endlevel]
		[/else]
	[/if]
#enddef

	[event]
		name=recruit
		[filter]
			side=2,3,4,5
			race=demon
			[or]
				race=monster
			[/or]
		[/filter]

		[scroll_to_unit]
			x,y=$x1,$y1
		[/scroll_to_unit]
		{REDRAW}
		{DELAY 1000}

		[role]
			role=scared_one
			side=1
			[not]
				description=Analia
			[/not]
			[not]
				canrecruit=1
			[/not]
		[/role]

		{MSG_SUF (role=scared_one) ( _ "What was that!?")}
		{MSG_UNIT Galas ( _ "Bright Gods... what's that thing?")}
		{MSG_UNIT Analia ( _ "I sense a great evil coming from there... This is not good.")}
	[/event]

	[event]
		name=turn 3
		[role]
			role=scared_one
			side=1
			[not]
				description=Analia
			[/not]
			[not]
				description=Galas
			[/not]
		[/role]
		{MSG_SUF (role=scared_one) ( _ "Their numbers are unlimited! I don't think we'll resist their siege.")}
		{MSG_UNIT Analia ( _ "This is worse than I expected. So it is true, there are still humans left on this continent - and they have built an army, a big and organized one.")}
		{MSG_UNIT Galas ( _ "What would you suggest?")}
		{MSG_UNIT Analia ( _ "If we stay here any longer, we'll be doomed. The allied forces of evil make them too strong to resist. So, I say withdraw to the northern caves.")}
		{MSG_UNIT Galas ( _ "The caves? But, but... nobody has entered them for centuries! We don't know what may be lurking in there!")}
		{MSG_UNIT Analia ( _ "Yes, I know, but it's our only option now. We are being surrounded on the East, West and South. If we retreat to the North on the surface, they will catch us in a day or two. On the other hand, going underground gives us the possibility to block their way, so that we can open some distance from them and find a safer place. This valley is no longer safe. Even if we defeated them here, which I doubt, more will come sooner or later.")}
		{MSG_UNIT Galas ( _ "I see that there is no alternative but to flee to the caves. But we must not to forget our civilians; they are the base of our civilization, as warriors and archers are less common amongst us.")}
		{MSG_UNIT Analia ( _ "Yes, we must not allow those beasts to steal our villages and slaughter their inhabitants.")}
		# Set new objectives
		[objectives]
			side=1
			summary= _ "New Objectives:"
			{OBJECTIVE_TO_WIN ( _ "Move Galas and Analia inside the north-eastern cave")}
			{OBJECTIVE_TO_WIN ( _ "Make sure you own at least $essential_villages_count villages by the time they arrive to the cavern")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Analia")}
			{OBJECTIVE_TO_LOSE ( _ "Less than $essential_villages_count elven villages are left standing")}
			{OBJECTIVE_TO_LOSE ( _ "Galas and Analia arrive to the cavern with less than $essential_villages_count elven villages in posession")}
			{OBJECTIVE_TO_LOSE ( _ "Turns run out")}
		[/objectives]

		[event]
			name=moveto
			first_time_only=no
			[filter]
				description=Galas
				[not]
					{CAVE_GOAL_POS_FILTER}
				[/not]
			[/filter]
	
			{VARIABLE galas_made_it 0}
		[/event]
	
		[event]
			name=moveto
			first_time_only=no
			[filter]
				description=Analia
				[not]
					{CAVE_GOAL_POS_FILTER}
				[/not]
			[/filter]
	
			{VARIABLE analia_made_it 0}
		[/event]
			
		# Analia makes it there, check for Galas
		[event]
			name=moveto
			first_time_only=no
			[filter]
				description=Analia
				{CAVE_GOAL_POS_FILTER}
			[/filter]
	
			[if]
				[variable]
					name=analia_made_it
					numerical_equals=0
				[/variable]
				[then]
					{VARIABLE analia_made_it 1}
					[if]
						[variable]
							name=galas_made_it
							numerical_equals=1
						[/variable]
						[then]
							{TRY_VICTORY}
						[/then]
						[else]
							[if]
								[variable]
									name=analia_awaits
									numerical_equals=0
								[/variable]
								[then]
									{VARIABLE analia_awaits 1}
									{MSG_UNIT Analia ( _ "Make haste, Galas, or the enemies will get you!")}
								[/then]
							[/if]
						[/else]
					[/if]
				[/then]
			[/if]
		[/event]
			
		# Galas makes it there, check for Analia
		[event]
			name=moveto
			first_time_only=no
			[filter]
				description=Galas
				{CAVE_GOAL_POS_FILTER}
			[/filter]
	
			[if]
				[variable]
					name=galas_made_it
					numerical_equals=0
				[/variable]
				[then]
					{VARIABLE galas_made_it 1}
					[if]
						[variable]
							name=analia_made_it
							numerical_equals=1
						[/variable]
						[then]
							{TRY_VICTORY}
						[/then]
						[else]
							[if]
								[variable]
									name=galas_awaits
									numerical_equals=0
								[/variable]
								[then]
									{VARIABLE galas_awaits 1}
									{MSG_UNIT Galas ( _ "Hurry up, Analia, or the enemies will catch you!")}
								[/then]
							[/if]
						[/else]
					[/if]
				[/then]
			[/if]
		[/event]
	[/event]

	[event]
		name=time over
		{MSG_UNIT Analia ( _ "We did not make it in time. We are doomed...")}
	[/event]

	[event]
		name=die
		[filter]
			description=Analia
		[/filter]
	
		[message]
			speaker=unit
			message= _ " *Ugh* I am finished."
		[/message]
	
		[message]
			speaker=Galas
			message= _ "Analia! No! I need you! Who will guide us with wisdom now?!"
		[/message]

		{ENDLEVEL_DEFEAT}
	[/event]
	
	[event]
		name=die
		[filter]
			description=Galas
		[/filter]
	
		[message]
			speaker=unit
			message= _ "No! *Ack* I must... lead... our... *pahr* people... to... safety..."
		[/message]
	
		[message]
			speaker=Analia
			message= _ "Galas? Galas, no!"
		[/message]
	
		[message]
			speaker=unit
			message= _ "Ugh."
		[/message]

		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=capture
		[filter]
			[not]
				side=1
			[/not]
			[filter_location]
				terrain=Gg^Ve
			[/filter_location]
		[/filter]
		{MSG_SUF (
			side=$unit.side
			canrecruit=1
			)
			( _ "Leave nothing standing! Burn them alive with their villages!")}
	[/event]

	[event]
		name=capture
		first_time_only=no
		[filter]
			[not]
				side=1
			[/not]
			[filter_location]
				terrain=Gg^Ve
			[/filter_location]
		[/filter]
		{PLAY_SOUND "torch.ogg"}
		[terrain]
			x=$x1
			y=$y1
			letter=Dd^Dr
		[/terrain]
		{ADD_GOLD $unit.side 2 5 9}
		{REDRAW}
		[store_locations]
			terrain=Gg^Ve
			variable=village_tiles_probe
		[/store_locations]
		[if]
			{VARIABLE_NUM_LESS_THAN village_tiles_probe.length $essential_villages_count}
			[then]
				{MSG_UNIT Galas ( _ "We could not rescue enough civilians before entering the caves. Most of them have been burned alive with their villages!")}
				{MSG_UNIT Analia ( _ "We have failed to protect our people...")}
				{ENDLEVEL_DEFEAT}
			[/then]
		[/if]
		{CLEAR_VARIABLE village_tiles_probe}
	[/event]

	# In case the player manages to defeat an enemy leader
	[event]
		name=die
		[filter]
			canrecruit=1
			side=2,3,4,5
		[/filter]
		{MSG_SPEAKER unit ( _ "Fools! Your efforts are futile, our numbers are limitless! Ack!")}
	[/event]
	
	[event]
		name=die
		first_time_only=no
		[filter]
			canrecruit=1
			side=2,3,4,5
		[/filter]
		{VARIABLE_RANDOM leader_unittype ("Demon Warrior,Demon Zephyr,Man at Arms,Champion,Doom Guard,Hell Guardian,Crossbowman,Blood Knight,Dark Knight,Deathguard,Highguard")}
		# It seems impossible to grant random user_descriptions with fixed internal descriptions
		# trivally, so...
		[unit]
			generate_description=yes
			type=$leader_unittype
			x=$x1
			y=$y1
			side=$unit.side
			canrecruit=1
			random_traits=no
		[/unit]
		{REDRAW}
		{CLEAR_VARIABLE leader_unittype}
	[/event]

#ifdef EASY
	[event]
		name=select
		[filter]
			description=Analia
		[/filter]
		[message]
			speaker=narrator
			caption= _ "UI^Help"
			image=units/elves-wood/sorceress.png~RC(magenta>red)
			message= _ "Analia is an Ancient Elvish Sorceress. Unlike her regular counterparts, she has the healing ability, which heals adjacent allies 8 HP per turn, at minimum. She can also cure them from poison. Keep in mind that she is the only sorceress with these abilities."
		[/message]
	[/event]
#endif

#undef TRY_VICTORY
#undef FFH_SPAWN_GUARD
#undef FFH_FOES_RECRUITS
#undef FFH_SIDE
#undef CAVE_GOAL_POS_FILTER
[/scenario]
