[scenario]
	#textdomain wesnoth-Invasion_from_the_Unknown
	id=09_The_Library
	name= _ "The Library"
	{MAP 09_The_Library.map}
	{TURNS 60 58 56}
	next_scenario=10_The_Source_of_Light
	victory_when_enemies_defeated=no

	{SCENARIO_MUSIC "underground.ogg"}

	{DEEP_UNDERGROUND}

	{STORYTXT_THE_LIBRARY}
	{STORYMAP_THE_LIBRARY}

	{LOYAL_DEATH_DETECTION}
	{DEATHS_COMMON}
	{DWARF_DEATH}

	[side]
		type=Elvish Hero
		description=Galas
		user_description= _ "Galas"
		unrenamable=yes
		side=1
		canrecruit=1
		controller=human
		team_name=good
		shroud=yes
	[/side]

	# Cave-creeps
	[side]
		side=2
		gold=0
		no_leader=yes
		colour=brown
		team_name=foes
		[ai]
			village_value=0
			aggression=0.9
			caution=0
			grouping=no
		[/ai]
	[/side]

	# Demons
	[side]
		side=3
		gold=0
		no_leader=yes
		colour=orange
		team_name=foes
		{CHAOS_FLAG}
		[ai]
			village_value=0
			aggression=0.9
			caution=0
			grouping=no
		[/ai]
	[/side]

	# Elemental Spirits
	[side]
		side=4
		gold=0
		no_leader=yes
		colour=white
		team_name=foes
		[ai]
			village_value=0
			aggression=0.9
			caution=0
			grouping=no
		[/ai]
	[/side]

	[event]
		name=prestart
		# Recall heroes
		{RECALL_POS Analia 8 2}
		{RECALL_POS (Mal Keshar) 6 2}
		{RECALL_POS Althurin 7 3}
		{RECALL_LOYAL_POS melee 5 2}
		{RECALL_LOYAL_POS ranged 5 3}
		{RECALL_LOYAL_POS healer 6 3}

		# Create spirits
		{LOYAL_GUARD (Rock Golem) () () 4 20 6 () ()}
		{LOYAL_GUARD (Rock Golem) () () 4 23 15 () ()}
		{LOYAL_GUARD (Rock Golem) () () 4 14 23 () ()}
		{LOYAL_GUARD (Rock Golem) () () 4 6 31 () ()}
		{LOYAL_GUARD (Animated Rock) () () 4 3 34 () ()}
		{LOYAL_GUARD (Animated Rock) () () 4 18 49 () ()}
		{LOYAL_GUARD (Fire Spirit) () () 4 10 50 () ()}
		{LOYAL_GUARD (Fire Spirit) () () 4 11 58 () ()}
		{LOYAL_GUARD (Fire Spirit) () () 4 25 58 () ()}
		{LOYAL_GUARD (Fire Spirit) () () 4 30 48 () ()}
		{LOYAL_GUARD (Fire Wisp) () () 4 24 49 () ()}
		{LOYAL_GUARD (Fire Wisp) () () 4 15 54 () ()}
		{LOYAL_GUARD (Fire Wisp) () () 4 20 59 () ()}
		{LOYAL_GUARD (Animated Rock) () () 4 22 49 () ()}
		{LOYAL_GUARD (Animated Rock) () () 4 14 51 () ()}
		{LOYAL_GUARD (Animated Rock) () () 4 15 60 () ()}
		{LOYAL_GUARD (Animated Rock) () () 4 13 57 () ()}
		# Create creepers
		{LOYAL_GUARD (Giant Leech) () () 2 25 48 () ()}
		{LOYAL_GUARD (Giant Leech) () () 2 25 56 () ()}
		{LOYAL_GUARD (Giant Leech) () () 2 12 43 () ()}
		{LOYAL_GUARD (Giant Leech) () () 2 28 6 () ()}
		{ANONYMOUS_WC_GUARD saurian 2 4 8}
		{ANONYMOUS_WC_GUARD drake 2 4 13}
		{ANONYMOUS_WC_GUARD swimmer 2 25 17}
		{ANONYMOUS_WC_GUARD swimmer 2 5 21}
		# Demons
		{LOYAL_GUARD Demon Yr ( _ "Yr") 3 12 9 {TRAIT_NONE} {MALE} }
		{LOYAL_GUARD Demon Horus ( _ "Horus") 3 16 13 {TRAIT_FEARLESS} {MALE} }
		{LOYAL_GUARD (Winged Demon) Alith ( _ "Alith") 3 8 9 {TRAIT_NONE} {FEMALE} }
		{LOYAL_GUARD (Demon Grunt) Uria ( _ "Uria") 3 22 11 {TRAIT_FEARLESS} {FEMALE} }
		{LOYAL_GUARD Demon Delthor ( _ "Delthor") 3 23 19 {TRAIT_NONE} {MALE} }
		{LOYAL_GUARD Demon Lyla ( _ "Lyla") 3 18 28 {TRAIT_NONE} {FEMALE} }
		{LOYAL_GUARD (Winged Demon) Valkor ( _ "Valkor") 3 7 35 {TRAIT_NONE} {MALE} }
		{LOYAL_GUARD (Demon Grunt) Zanathor ( _ "Zanathor") 3 30 33 {TRAIT_NONE} {MALE} }
		{LOYAL_GUARD Demon Zana ( _ "Zana") 3 18 38 {TRAIT_NONE} {FEMALE} }
		{LOYAL_GUARD Demon Menia ( _ "Menia") 3 30 42 {TRAIT_NONE} {FEMALE} }
		{LOYAL_GUARD Demon Arkos ( _ "Arkos") 3 14 51 {TRAIT_NONE} {MALE} }
		{LOYAL_GUARD (Winged Demon) Iros ( _ "Iros") 3 22 58 {TRAIT_NONE} {MALE} }
		{LOYAL_GUARD (Blood Imp) () () 3 14 59 () ()}
		{LOYAL_GUARD (Blood Imp) () () 3 20 44 () ()}
		{LOYAL_GUARD (Blood Imp) () () 3 31 35 () ()}
		{LOYAL_GUARD (Blood Imp) () () 3 30 3  () ()}

		[objectives]
			side=1
			{OBJECTIVE_TO_WIN ( _ "Explore the Library and proceed deeper underground")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Analia")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Mal Keshar")}
			{OBJECTIVE_TO_LOSE ( _ "Death of Althurin")}
			{OBJECTIVE_TO_LOSE ( _ "Turns run out")}
			notes= _ "You can read the message crystals if you want to read details on the storyline, but it is not strictly necessary."
		[/objectives]
	[/event]

	[event]
		name=start
		{MSG_UNIT Analia ( _ "This place gives me chills. What is this? Looks like ruins of an ancient city.")}
		{MSG_UNIT Galas ( _ "Indeed it is. I am not sure who or what lived in here, but it looks like it was an intelligent civilization. The carved runes on the buildings indicate it.")}
		{MSG_UNIT Althurin ( _ "Hm. Interesting, they don't look dwarvish.")}
		{MSG_UNIT Galas ( _ "I think we ought to investigate the place. It seems to be a library, so perhaps we can find valuable information. Just my opinion.")}
		{MSG_UNIT Analia ( _ "Well, let us explore then, but be careful. Ancient civilizations are not always friendly to future ones; there might be traps or enchantments to protect these ruins.")}

		{MSG_NARRATOR ( _ "Your heroes have got used to moving in caves, so their movement cost in caves is reduced 1 unit. This does not apply to Althurin, since his movement cost is already the minimum.")}

		# Apply this to every unit available not in recall list or stock stores
		[store_unit]
			[filter]
				side=1
				[not]
					description=Althurin
				[/not]
				{NOT_TYPE Ghost}
				{NOT_TYPE Shadow}
				{NOT_TYPE Wraith}
				{NOT_TYPE Nightgaunt}
				{NOT_TYPE Spectre}
				[not]
					x,y="recall","recall"
				[/not]
			[/filter]
			variable=pbp_mpmod_visualnotif_store
		[/store_unit]

		{FOREACH pbp_mpmod_visualnotif_store k}
			[unstore_unit]
				variable=pbp_mpmod_visualnotif_store[$k]
				find_vacant=no
				text= _ "-1 MP cost in cave"
				red,green,blue=0,255,0
				{COLOR_HEAL}
			[/unstore_unit]
			[object]
				silent=yes
				duration=forever
				[filter]
					x=$pbp_mpmod_visualnotif_store[$k].x
					y=$pbp_mpmod_visualnotif_store[$k].y
				[/filter]
				[effect]
					apply_to=movement_costs
					[movement_costs]
						cave=-1
					[/movement_costs]
				[/effect]
			[/object]
		{NEXT k}
		{CLEAR_VARIABLE pbp_mpmod_visualnotif_store}
		[sound]
			name=heal.wav
		[/sound]
	[/event]

#define MSG_GLYPH TEXT
	[message]
		speaker=narrator
		image=items/crystal-glyph.png
		caption= _ "Crystal Glyph"
		message={TEXT}
	[/message]
#enddef

#define LIBRARY_GLYPH X Y
	[item]
		x,y={X},{Y}
		image=items/crystal-glyph.png
		halo=halo/elven/shyde-stationary-halo1.png:150,halo/elven/shyde-stationary-halo2.png:150,halo/elven/shyde-stationary-halo3.png:150,halo/elven/shyde-stationary-halo4.png:150,halo/elven/shyde-stationary-halo5.png:150,halo/elven/shyde-stationary-halo6.png:150
	[/item]
#enddef

	{LIBRARY_GLYPH 14 10}
	[event]
		name=moveto
		[filter]
			x,y=14,10
		[/filter]
		{MSG_GLYPH ( _ "Irya: the fourth planet of the Ardaan solar system, homeland of the Argazar race. We were forced to flee from our homeland by the Shaxthal invaders, which appeared that fateful day to steal our children and feed upon them. Our population was dramatically reduced by them, since they started to consume all our natural resources. Eventually, we learned how to open a worm-hole which allowed us to flee to the unknown.")}
	[/event]

	{LIBRARY_GLYPH 14 12}
	[event]
		name=moveto
		[filter]
			x,y=14,12
		[/filter]
		{MSG_GLYPH ( _ "We came to an unknown planet, where strange civilizations threatened our survival. There were no alliances, they fought each other, as they did with us. Their extremely different customs, beliefs and physical appearance was possibly the cause of such seemingly eternal rivality.")}
	[/event]

	{LIBRARY_GLYPH 14 14}
	[event]
		name=moveto
		[filter]
			x,y=14,14
		[/filter]
		{MSG_GLYPH ( _ "We hid in these caverns, and built a new city underground. We were not safe, for the hostile outsiders found us, so we had to learn new forms of defense. We awoke something in the process, something evil.")}
	[/event]

	{LIBRARY_GLYPH 3 27}
	[event]
		name=moveto
		[filter]
			x,y=3,27
		[/filter]
		{MSG_GLYPH ( _ "These crystals were created by us, the Argazars, so that future generations would learn of our past and present.")}
	[/event]

	{LIBRARY_GLYPH 9 27}
	[event]
		name=moveto
		[filter]
			x,y=9,27
		[/filter]
		{MSG_GLYPH ( _ "We opened a portal, a portal that was apparently sealed a long time ago. We did not know what evil we would unleash with that action.")}
	[/event]

	{LIBRARY_GLYPH 15 27}
	[event]
		name=moveto
		[filter]
			x,y=15,27
		[/filter]
		{MSG_GLYPH ( _ "TODO: blah blah about Wild Elves.")}
	[/event]

	{LIBRARY_GLYPH 21 27}
	[event]
		name=moveto
		[filter]
			x,y=21,27
		[/filter]
		{MSG_GLYPH ( _ "TODO: blah blah about Dragons")}
	[/event]

	{LIBRARY_GLYPH 27 27}
	[event]
		name=moveto
		[filter]
			x,y=27,27
		[/filter]
		{MSG_GLYPH ( _ "TODO: blah blah about Shaxthal lifeforms")}
	[/event]

	{LIBRARY_GLYPH 33 27}
	[event]
		name=moveto
		[filter]
			x,y=33,27
		[/filter]
		{MSG_GLYPH ( _ "We managed to set a peace treaty between us and the Wild Elves. In the following years of peace and prosperity, we learned their customs, sciences and arts. They had already developed their own manner of astronomy, and named the land's sun as Sela. They had no advanced technology, but instead relied in their mastery of more esotheric arts, 'magic' arts.")}
	[/event]

	{LIBRARY_GLYPH 3 31}
	[event]
		name=moveto
		[filter]
			x,y=3,31
		[/filter]
		{MSG_GLYPH ( _ "Our civilization was divided and sank into darkness because of the following wars. With no technology, and with the knowledge granted by the Elves, some of us took control of cities forcing the dead to rise and march for their cause.")}
	[/event]

	{LIBRARY_GLYPH 9 31}
	[event]
		name=moveto
		[filter]
			x,y=9,31
		[/filter]
		{MSG_GLYPH ( _ "An undead lord rose and started to anihilate what creature interferred with his plans of domination of the continent, even if they had to be elves. Some of us escaped to the western continent, others stayed here to perish.")}
	[/event]

	{LIBRARY_GLYPH 15 31}
	[event]
		name=moveto
		[filter]
			x,y=15,31
		[/filter]
		{MSG_GLYPH ( _ "The demons which we unleashed killed almost us all, reducing our population to a few dozens. Fortunately, the Wild Elves, who arrived to the continent in that time, vanquished them using unknown, for us, technology and knowledge. They were forced to retreat back to the very heart of Hell.")}
	[/event]

	{LIBRARY_GLYPH 21 31}
	[event]
		name=moveto
		[filter]
			x,y=21,31
		[/filter]
		{MSG_GLYPH ( _ "TODO: blah blah about orcs.")}
	[/event]

	{LIBRARY_GLYPH 9 35}
	[event]
		name=moveto
		[filter]
			x,y=9,35
		[/filter]
		{MSG_GLYPH ( _ "TODO: blah blah about drakes.")}
	[/event]

	{LIBRARY_GLYPH 15 35}
	[event]
		name=moveto
		[filter]
			x,y=15,35
		[/filter]
		{MSG_GLYPH ( _ "TODO: blah blah about demons.")}
	[/event]

	{LIBRARY_GLYPH 27 35}
	[event]
		name=moveto
		[filter]
			x,y=27,35
		[/filter]
			{MSG_GLYPH ( _ "TODO: blah blah about Argazar technology.")}
	[/event]

	{LIBRARY_GLYPH 33 35}
	[event]
		name=moveto
		[filter]
			x,y=33,35
		[/filter]
		{MSG_GLYPH ( _ "TODO: blah blah about Yechnagoth.")}
	[/event]

	[event]
		name=sighted
		[filter]
			type=Fire Spirit,Fire Wisp
		[/filter]
		[filter_second]
			side=1
		[/filter_second]
		{REDRAW}
		[message]
			speaker=unit
			message= _ "Groaar!!"
		[/message]
		[message]
			speaker=second_unit
			message= _ "Aaah! Living fire!"
		[/message]
		{MSG_UNIT (Galas) ( _ "Living fire? How can that be possible...")}
		{MSG_UNIT (Mal Keshar) ( _ "There is a strong magic at work here, the magic of the nature elements. Everything is alive... the cave walls, the fire, the darkness... even the dust.")}
		{MSG_UNIT (Analia) ( _ "Physical weapons are unlikely to be of any help against them. Be careful.")}
	[/event]

	[event]
		name=sighted
		[filter]
			type=Giant Leech,Brain Drainer
		[/filter]
		[filter_second]
			side=1
		[/filter_second]
		{REDRAW}
		[message]
			speaker=unit
			message= _ "Skreeech!!"
		[/message]
		[message]
			speaker=second_unit
			message= _ "Whoa! Uh... AAAAAH!!! It has no eyes or arms, just tail, legs and a giant mouth!!! What... what... WHAT IN THE HECK IS THIS!!"
		[/message]
		{MSG_UNIT (Mal Keshar) ( _ "Corrupted creatures roam these places. That must have been a reptilian before, but now...")}
		{MSG_UNIT (Galas) ( _ "It is the ugliest thing I have ever seen...")}
		[message]
			speaker=second_unit
			message= _ "Shouldn't we stop admiring it and just kill it?"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			type=Giant Leech,Brain Drainer
		[/filter]
		[message]
			speaker=unit
			message= _ "Skreeech!!"
		[/message]
		[message]
			speaker=second_unit
			message= _ "Die, you foul abomination!"
		[/message]
	[/event]

	[event]
		name=sighted
		[filter]
			type=Rock Golem,Animated Rock
		[/filter]
		[filter_second]
			side=1
		[/filter_second]
		{REDRAW}
		[message]
			speaker=second_unit
			message= _ "Animated rocks. Oh great!"
		[/message]
		{MSG_UNIT (Althurin) ( _ "I do not think crushing or piercing it would be a good idea.")}
	[/event]

	[event]
		{SIGHTED_SUF_BY_PLAYER (race=demon)}
		{REDRAW}
		[message]
			speaker=unit
			message= _ "Die, elves!"
		[/message]
		{MSG_UNIT (Galas) ( _ "Darn, they have followed us this far!")}
		{MSG_UNIT (Analia) ( _ "Not good. Here in the deepest underground they are stronger than our elvish fighters.")}
		{MSG_UNIT (Mal Keshar) ( _ "And stronger than my undead minions.")}
		{MSG_UNIT (Althurin) ( _ "Let me crush one with my hammer, I want to see how good they do against ancient dwarven magic!")}
	[/event]

	[event]
		{SIGHTED_SUF_BY_PLAYER (type=Walking Corpse,Soulless)}
		{REDRAW}
		[message]
			speaker=second_unit
			message= _ "A walking corpse. Duh, is it that there ain't more interesting enemies to fight here? Well, perhaps I should be careful with what I say or think here."
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			type=Demon,Winged Demon
			gender=female
		[/filter]
		[filter_second]
			description=Althurin
		[/filter_second]
		[message]
			speaker=second_unit
			message= _ "Not bad for a barely-covered chick. They are pretty tough for their lack of protection, though."
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			type=Demon,Winged Demon
			gender=male
		[/filter]
		[filter_second]
			description=Althurin
		[/filter_second]
		[message]
			speaker=second_unit
			message= _ "Die, you fiend! And don't get up or I shall crush your head a second time!"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			type=Demon Grunt
			gender=male
		[/filter]
		[filter_second]
			description=Althurin
		[/filter_second]
		[message]
			speaker=second_unit
			message= _ "Um, that certainly made a difference. Tough guy, but nothing I couldn't handle."
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			type=Demon Grunt
			gender=female
		[/filter]
		[filter_second]
			description=Althurin
		[/filter_second]
		[message]
			speaker=second_unit
			message= _ "Tough girl. Hey, what is their skin made of? It doesn't look like it really can bear that much damage."
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			type=Blood Imp
		[/filter]
		[filter_second]
			description=Althurin
		[/filter_second]
		[message]
			speaker=second_unit
			message= _ "Begone, foul monstrousity!"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			race=demon
		[/filter]
		[filter_second]
			description="Galas"
			[or]
				description="Mal Keshar"
			[/or]
		[/filter_second]
		[message]
			speaker=second_unit
			message= _ "This is just starting to piss me off. Who are you working for, and for what? Answer!"
		[/message]
		[message]
			speaker=unit
			message= _ " *ack* I won't... *argh* tell you..."
		[/message]
		[message]
			speaker=second_unit
			message= _ "I should've known that!"
		[/message]
	[/event]

	[event]
		name=turn 3
		[message]
			speaker=Analia
			message= _ "I feel... a strange presence..."
		[/message]
		[message]
			speaker=Galas
			message= _ "A demon?"
		[/message]
		[message]
			speaker=Analia
			message= _ "No. It's something good... it's the presence of light..."
		[/message]
		[message]
			speaker=Althurin
			message= _ "It ought to be the source of Light my master spoke me of. We must be approaching it."
		[/message]
	[/event]

	[event]
		name=moveto
		[filter]
			side=1
			x=12-16
			y=60
		[/filter]
		[message]
			speaker=unit
			message= _ "This path goes even deeper underground. I hesitate to continue."
		[/message]
		{MSG_UNIT (Analia) ( _ "Do not hesitate. Wherever the Lady of Light is, we shall be safe.")}
		{MSG_UNIT (Galas) ( _ "I hope so...")}
		{MSG_UNIT (Mal Keshar) ( _ "I feel that we must continue that way. Our goal must be very close.")}
		{MSG_UNIT (Galas) ( _ "Then there we shall go.")}
		{ENDLEVEL_CONTINUE}
	[/event]
[/scenario]
