[scenario]
	#textdomain wesnoth-Invasion_from_the_Unknown
	id=25_Into_the_Keep
	name= _ "Into the Keep"
	{MAP 25_Into_the_Keep.map}
	turns=-1
	next_scenario=25_Gauntlet
	victory_when_enemies_defeated=no

	{SCENARIO_MUSIC "wesnoth-battle-2.ogg"}

	{INDOORS}

	{DEATHS_COMMON}

	{STORYTXT_INTO_THE_KEEP}
	{STORYMAP_INTO_THE_KEEP}

	[side]
		type=Elvish Hero
		description=Galas
		user_description= _ "Galas"
		unrenamable=yes
		side=1
		canrecruit=1
		controller=human
		team_name=good
		shroud=yes
		income=-2
		gold=0
		village_gold=0
	[/side]

	# Boss supporters
	[side]
		side=2
		controller=ai
		no_leader=yes
		team_name=foes
		income=-2
		gold=0
		village_gold=0
		{CHAOS_FLAG}
	[/side]

	# Boss
	[side]
		side=3
		no_leader=yes
		team_name=foes
		income=-2
		gold=0
		village_gold=0
		{CHAOS_FLAG}
		[ai]
			# built-in default is 1.0, doesn't do it very well, so here I set 10.0
			protect_leader=10.0
			# Dumb kamikaze-style AI which just wants to kill, no matter how
			# it should be. Focus on the leader anyway.
			leader_value=6
			caution=0.0
			aggression=1.0
			# Don't even think on recruiting; might save a few milliseconds
			# of gameplay, not sure.
			recruitment_pattern=""
			village_value=0.0
		[/ai]
	[/side]

	# Assault Drones
	[side]
		side=4
		no_leader=yes
		team_name=foes
		income=-2
		gold=0
		village_gold=0
		{CHAOS_FLAG}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Assault Drone) 33 22}
		{MAKE_FACING_REVERSE}
	[/side]

	# Dwelling Drones
	[side]
		side=5
		no_leader=yes
		team_name=foes
		income=-2
		gold=0
		village_gold=0
		{CHAOS_FLAG}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Sentry Drone) 30 33}
		{MAKE_FACING_REVERSE}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Sentry Drone) 27 35}
		{MAKE_FACING_REVERSE}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Sentry Drone) 25 28}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Sentry Drone) 21 30}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Protector Drone) 36 21}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Runner Drone) 34 24}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Runner Drone) 40 23}
		{MAKE_FACING_REVERSE}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Protector Drone) 19 34}
		{GENERIC_GUARDIAN_AUTOSIDE (Shaxthal Sentry Drone) 28 22}
	[/side]

	# Guardians
	[side]
		side=6
		no_leader=yes
		team_name=foes
		income=-2
		gold=0
		village_gold=0
		{CHAOS_FLAG}
	[/side]

	# Doors (fake player)
	[side]
		side=7
		no_leader=yes
		team_name=foes
		income=-2
		gold=0
		village_gold=0
		{IS_NPC}
		{CHAOS_FLAG}
	[/side]

	[event]
		name=prestart
		# Generate door locations from the map; slower than hardcoding at runtime,
		# but it makes it easier for writing the WML on my part :-)
		[store_locations]
			terrain=Xg^Z*
			variable=door_tilemap_store
		[/store_locations]
		{FOREACH door_tilemap_store k}
			[unit]
				side=7
				[modifications]
					{TRAIT_MECHANICAL}
				[/modifications]
				type=Door
				x=$door_tilemap_store[$k].x
				y=$door_tilemap_store[$k].y
				description=door_at_x$door_tilemap_store[$k].x|_y$door_tilemap_store[$k].y|
				user_description=" "
			[/unit]
		{NEXT k}
		{CLEAR_VARIABLE door_tilemap_store}
		# Recall heroes
		{RECALL_POS Elynia 37 32}
		{RECALL_POS (Mal Keshar) 38 31}
		{RECALL_POS Erathan 36 30}
		# Recall supporters and Igor (expendable)
		[role]
			role=recall_spirit_1
			type=Spectre,Elvish Forefather,Nightgaunt,Wraith,Elvish Ancestor,Shadow,Elvish Warrior Spirit,Ghost
		[/role]
		{RECALL_SUF_POS (role=recall_spirit_1) 39 31}
		[role]
			role=recall_spirit_2
			type=Spectre,Elvish Forefather,Nightgaunt,Wraith,Elvish Ancestor,Shadow,Elvish Warrior Spirit,Ghost	
			[not]
				x=1-100
				y=1-100
			[/not]
		[/role]
		{RECALL_SUF_POS (role=recall_spirit_2) 37 34}
		[role]
			role=recall_melee
			# Looooooong... isn't it?
			type=Aragwaith Ancient Banner,Death Knight,Elvish Marshal,Draug,Aragwaith Guardian,Aragwaith Captain,Elvish Champion,Aragwaith Shield Guard,Aragwaith Swordmaster,Elvish Prowler,Elvish Outrider,Death Baron,Elvish Captain,Aragwaith Flagbearer,Elvish Horseman,Deathblade,Revenant,Ghast,Aragwaith Pikeman,Necrophage,Aragwaith Longswordsman,Elvish Hero,Elvish Guard,Elvish Trapper,Aragwaith Guard,Bone Knight,Elvish Rider,Skeleton,Ghoul,Elvish Fighter,Elvish Hunter,Aragwaith Swordsman,Skeleton Rider,Aragwaith Spearman,Elvish Scout,Soulless,Elvish Civilian,Walking Corpse
			[not]
				x=1-100
				y=1-100
			[/not]
		[/role]
		{RECALL_SUF_POS (role=recall_melee) 39 32}
		[role]
			role=recall_ranged
			type=Elvish Avenger,Elvish Sharpshooter,Banebow,Elvish Prowler,Alt Necromancer,Aragwaith Slayer,Aragwaith Greatbow,Elvish Ranger,Elvish Marksman,Bone Shooter,Elvish Trapper,Alt Dark Sorcerer,Aragwaith Strongbow,Elvish Archer,Skeleton Archer,Elvish Hunter,Alt Dark Adept,Aragwaith Archer,Elvish Civilian
			[not]
				description=Erathan
			[/not]
			[not]
				x=1-100
				y=1-100
			[/not]
		[/role]
		{RECALL_SUF_POS (role=recall_ranged) 39 33}
		[role]
			role=recall_magical_2
			type=Elvish Sylph,Elvish Shyde,Aragwaith Sorcerer,Elvish Enchantress,Alt Necromancer,Elvish Druid,Aragwaith Wizard,Elvish Sorceress,Alt Dark Sorcerer,Aragwaith Warlock,Alt Dark Adept,Elvish Shaman
			[not]
				x=1-100
				y=1-100
			[/not]
		[/role]
		{RECALL_SUF_POS (role=recall_magical_2) 40 31}
		[role]
			role=recall_magical_1
			type=Elvish Sylph,Elvish Shyde,Aragwaith Sorcerer,Elvish Enchantress,Elvish Druid,Aragwaith Wizard,Elvish Sorceress,Aragwaith Warlock,Elvish Shaman
			[not]
				x=1-100
				y=1-100
			[/not]
		[/role]
		{RECALL_SUF_POS (role=recall_magical_1) 38 33}
		[role]
			role=recall_fairy
			type=Faerie Dryad,Faerie Spirit,Fire Faerie,Faerie Sprite
			[not]
				x=1-100
				y=1-100
			[/not]
		[/role]
		{RECALL_SUF_POS (role=recall_fairy) 38 32}
		{RECALL Igor}
	[/event]

	# ================== ITEMS ==================

	# Strength potion at 28,18 (+8 HP, +1 melee damage)
	[item]
		x,y=28,18
		image=items/potion-red.png
	[/item]
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x,y=28,18
			side=1
		[/filter]
		[object]
			id=strength_potion_25_1
			name= _ "Potion of Strength"
			image=icons/potion-red-1.png
			duration=forever
			description= _ "Strength is given to the drinker."
			cannot_use_message= _ "This potion can only be used by living beings. Let other take it."
			[filter]
				x,y=28,18
				[not]
					race=undead
				[/not]
				[not]
					race=elvish_spirits
				[/not]
			[/filter]
			[then]
				[removeitem]
					x,y=28,18
				[/removeitem]
			[/then]
			[effect]
				apply_to=attack
				range=melee
				increase_damage=1
			[/effect]
			[effect]
				apply_to=hitpoints
				increase_total=8
				heal_full=yes
			[/effect]
		[/object]
	[/event]

	# Potion at 24,20 (+1 MP, +1 ranged attack)
	[item]
		x,y=24,20
		image=items/potion-cyan.png
	[/item]
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x,y=24,20
			side=1
		[/filter]
		[object]
			id=deftness_potion_25_1
			name= _ "Potion of Deftness"
			image=icons/potion-cyan-2.png
			duration=forever
			description= _ "This magic potion will increase the drinker's movement points by one (quick), and increase the inflicted base damage of its ranged attacks by one (dextrous), if applicable."
			cannot_use_message= _ "This potion can only be used by living beings. Let other take it."
			[filter]
				x,y=24,20
				[not]
					race=undead
				[/not]
				[not]
					race=elvish_spirits
				[/not]
			[/filter]
			[then]
				[removeitem]
					x,y=24,20
				[/removeitem]
			[/then]
			[effect]
				apply_to=attack
				range=ranged
				increase_damage=1
			[/effect]
			[effect]
				apply_to=movement
				increase=1
			[/effect]
		[/object]
	[/event]

	# Amulet at 34,36
	[item]
		x,y=34,36
		image=items/ankh-necklace.png
	[/item]
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x,y=34,36
			side=1
		[/filter]
		[object]
			id=amulet_25_1
			name= _ "Amulet of the Arcane Flows"
			image=items/ankh-necklace.png
			duration=forever
			description= _ "This amulet will grant the bearer's arcane power to their melee attacks, and increase their resistance to arcane damage by 10%."
			cannot_use_message= _ "This potion can only be used by living beings that are not faeries. Let other unit take it."
			[filter]
				x,y=34,36
				[not]
					race=undead
				[/not]
				[not]
					race=elvish_spirits
				[/not]
				[not]
					race=fairy
				[/not]
			[/filter]
			[then]
				[removeitem]
					x,y=34,36
				[/removeitem]
			[/then]
			[effect]
				apply_to=attack
				range=ranged
				set_type=arcane
			[/effect]
			[effect]
				apply_to=resistance
				replace=false
				[resistance]
					arcane=-10%
				[/resistance]
			[/effect]
		[/object]
	[/event]

	# Touchgem at 3,15, and its forcefield
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x=14-16
			y=17-19
			side=1
		[/filter]
		[allow_undo][/allow_undo]
		[if]
			{VARIABLE_NUM_EQUALS touchgem_3_15 0}
			[then]
				{MSG_NARRATOR (_"Find the touchgem trigger to deactivate this magic force-field.")}
			[/then]
		[/if]
	[/event]
	[event]
		name=prestart
		{VARIABLE touchgem_3_15 0}
	[/event]
	[event]
		name=victory
		{CLEAR_VARIABLE touchgem_3_15}
	[/event]
	[item]
		x,y=3,15
		image=items/ball-green.png
	[/item]
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x,y=3,15
			side=1
		[/filter]
		[if]
			{VARIABLE_NUM_EQUALS touchgem_3_15 0}
			[then]
				{VARIABLE touchgem_3_15 1}
				[terrain]
					x=14-16
					y=18
					letter=Ryd
				[/terrain]
				[terrain]
					x,y=15,18
					letter=Rr
				[/terrain]
				{MSG_NARRATOR (_"Touchgem triggered. A magic force-field is deactivated.")}
			[/then]
			[else]
				{MSG_NARRATOR (_"Touchgem already triggered.")}
				#[allow_undo]
				#[/allow_undo]
			[/else]
		[/if]
	[/event]

	# Touchgem at random location, its forcefield, and its prestart generator
	[event]
		name=prestart
		{VARIABLE touchgem_random_location_table[0].x 7}
		{VARIABLE touchgem_random_location_table[0].y 18}

		{VARIABLE touchgem_random_location_table[1].x 12}
		{VARIABLE touchgem_random_location_table[1].y 7}

		{VARIABLE touchgem_random_location_table[2].x 19}
		{VARIABLE touchgem_random_location_table[2].y 10}

		{VARIABLE touchgem_random_location_table[3].x 1}
		{VARIABLE touchgem_random_location_table[3].y 10}

		{VARIABLE touchgem_random_location_table[4].x 1}
		{VARIABLE touchgem_random_location_table[4].y 6}

		{VARIABLE touchgem_random_location_table[5].x 27}
		{VARIABLE touchgem_random_location_table[5].y 14}

		{VARIABLE_RANDOM touchgem_random_location_table_choice 0..5}

		{VARIABLE touchgem_random_x $touchgem_random_location_table[$touchgem_random_location_table_choice].x}
		{VARIABLE touchgem_random_y $touchgem_random_location_table[$touchgem_random_location_table_choice].y}

		{CLEAR_VARIABLE touchgem_random_location_table_choice}
		{CLEAR_VARIABLE touchgem_random_location_table}

		{VARIABLE touchgem_random 0}
		[item]
			x,y=$touchgem_random_x|,$touchgem_random_y|
			image=items/ball-blue.png
		[/item]
		[event]
			name=moveto
			first_time_only=no
			[filter]
				x,y=$touchgem_random_x|,$touchgem_random_y|
				side=1
			[/filter]
			[if]
				{VARIABLE_NUM_EQUALS touchgem_random 0}
				[then]
					{VARIABLE touchgem_random 1}
					[terrain]
						x=18,19
						y=19,20
						letter=Ryd
					[/terrain]
					{MSG_NARRATOR (_"Touchgem triggered. A magic force-field is deactivated.")}
				[/then]
				[else]
					{MSG_NARRATOR (_"Touchgem already triggered.")}
					#[allow_undo]
					#[/allow_undo]
				[/else]
			[/if]
		[/event]
	[/event]
	[event]
		name=victory
		{CLEAR_VARIABLE touchgem_random}
	[/event]
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x=17-18,19
			y=20   ,21
			side=1
		[/filter]
		[allow_undo][/allow_undo]
		[if]
			{VARIABLE_NUM_EQUALS touchgem_random 0}
			[then]
				{MSG_NARRATOR (_"Find the touchgem trigger to deactivate this magic force-field.")}
			[/then]
		[/if]
	[/event]

	# Enemy boss code
	[event]
		name=moveto
		[filter]
			side=1
			x=30-39
			y=12-17
		[/filter]
		[unit]
			side=3
			description=Hell Gatekeeper
			user_description= _ "Hell Gatekeeper"
			type=Armageddon Imp
			canrecruit=1
			x,y=33,15
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			description=shaxthal1
			user_description= _ "Hive Sentinel"
			type=Shaxthal Sentry Drone
			x,y=32,14
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			description=shaxthal2
			user_description= _ "Hive Defender"
			type=Shaxthal Assault Drone
			x,y=34,15
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			user_description= _ "Hive Defender"
			type=Shaxthal Protector Drone
			x,y=33,16
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			user_description= _ "Biomechanical Drone"
			type=Shaxthal Runner Drone
			x,y=34,11
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			generate_description=yes
			type=Demon Grunt
			x,y=36,12
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			user_description= _ "Metallic Guardian"
			type=Automaton
			x,y=38,13
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			user_description= _ "Biomechanical Drone"
			type=Shaxthal Rayblade
			x,y=39,15
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			user_description= _ "Crawling Horror"
			type=Psy Crawler
			x,y=39,17
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			generate_description=yes
			type=Chaos Marauder
			x,y=37,18
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			generate_description=yes
			type=Blood Imp
			x,y=35,18
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			generate_description=yes
			type=Doom Guard
			x,y=33,18
			{FACING_REVERSE}
		[/unit]
		[unit]
			side=2
			user_description= _ "Shadow Minion"
			type=Shadow Minion
			x,y=31,18
			{FACING_REVERSE}
		[/unit]
		{MSG_UNIT (Hell Gatekeeper) ( _ "Your foolishness ends here with your death, enemies of the Master! We were sent to stop you from reaching the Gate of Inferno by the Shadow Master, and this time you have no escapatory.")}
		# Possibly breaking the 4th wall in here :)
		{MSG_UNIT (shaxthal1) ( _ "Ssslay... ssslash... flesshhh...")}
		{MSG_UNIT (shaxthal2) ( _ "Shriak! Greeeeshaaaahhhh...")}
		{MSG_UNIT (Mal Keshar) ( _ "Damned we are, is it that there is an unlimited source of enemy bosses?")}
		{MSG_UNIT (Galas) ( _ "Ah, the Shadow Master! I cannot wait to meet him personally anymore... get out of our path, you bastards!")}
		[event]
			name=die
			[filter]
				description=Hell Gatekeeper
			[/filter]
			{TREMOR}
	
			[terrain]
				x=31,32-33,34
				y=11,10   ,9
				letter=Ryd
			[/terrain]
	
			{MSG_NARRATOR (_"A wall moves.")}
			[unit]
				side=6
				generate_description=yes
				description=demon1
				type=Demon Warrior
				x,y=29,8
				random_gender=yes
			[/unit]
			[unit]
				side=6
				generate_description=yes
				type=Imp
				x,y=30,7
			[/unit]
			[unit]
				side=6
				generate_description=yes
				type=Imp
				x,y=29,7
			[/unit]
			[event]
				{SIGHTED_SUF_BY_PLAYER (description=demon1)}
				{MSG_UNIT (demon1) ( _ "Get back, filthy rebels! No living ones should tresspass these gates!")}
				{MSG_UNIT (Galas) ( _ "Aha, the entrance hall of Inferno!")}
				{MSG_UNIT (Elynia) ( _ "This place must have been severily corrupted to cause this anomaly that connects our world with the demonic homeland.")}
				{MSG_UNIT (Galas) ( _ "Can you close it?")}
				{MSG_UNIT (Elynia) ( _ "No, it is not safe until we discover who did this; bending our space-time to build this connection requires great powers, and I would not doubt that the author of it can open the connection from the other side if its closed from ours.")}
			[/event]
		[/event]
	[/event]
[/scenario]
