#textdomain wesnoth-Invasion_from_the_Unknown
# ABILITY_OSCURE and ABILITY_SYLVAN_ESSENCE were written by Shadow Master
# The others were imported from Extended Era

#define ABILITY_DAUNTLESS
	[resistance]
		id=dauntless
		name= _ "dauntless"
		description= _ "Dauntless:
While attacking, this unit's resistances are doubled, up to a maximum of 50. Weaknesses are not affected."
		name_inactive= _ "dauntless"
		description_inactive= _ "Dauntless:
While attacking, this unit's resistances are doubled, up to a maximum of 50. Weaknesses are not affected."
		multiply=2
		max_value=50
		apply_to=blade,pierce,impact,fire,cold,arcane
		[filter_base_value]
			greater_than=0
		[/filter_base_value]
		active_on=offense
	[/resistance]
#enddef

#define ABILITY_PROTECTION_LEVEL_2
	[resistance]
		id=protection
		add=20
		max_value=50
		apply_to=blade,pierce,impact,fire,cold,arcane
		name= _ "protection"
		description= _ "Protection:
Adjacent units of lower level from this side receive a +20% bonus to all resistances (up to a maximum of 50%)."
		affect_self=no
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=0
				[or]
					level=1
				[/or]
			[/filter]
		[/affect_adjacent]
	[/resistance]
#enddef

#define ABILITY_PROTECTION_LEVEL_3
	[resistance]
		id=protection
		add=20
		max_value=50
		apply_to=blade,pierce,impact,fire,cold,arcane
		name= _ "protection"
		description= _ "Protection:
Adjacent units of lower level from this side receive a +20% bonus to all resistances (up to a maximum of 50%)."
		affect_self=no
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=0
				[or]
					level=1
				[/or]
				[or]
					level=2
				[/or]
			[/filter]
		[/affect_adjacent]
	[/resistance]
#enddef

#define ABILITY_PROTECTION_LEVEL_4
	[resistance]
		id=protection
		add=20
		max_value=50
		apply_to=blade,pierce,impact,fire,cold,arcane
		name= _ "protection"
		description= _ "Protection:
Adjacent units of lower level from this side receive a +20% bonus to all resistances (up to a maximum of 50%)."
		affect_self=no
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=0
				[or]
					level=1
				[/or]
				[or]
					level=2
				[/or]
				[or]
					level=3
				[/or]
			[/filter]
		[/affect_adjacent]
	[/resistance]
#enddef

#define ABILITY_OBSCURE
	# Canned definition of the Obscures ability to be included in an
	# [abilities] clause.
	[illuminates]
		id=obscure
		value=-25
		max_value=-25
		cumulative=no
		name= _ "obscures"
		description= _ "Obscures:
This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
		affect_self=yes
	[/illuminates]
#enddef

#define ABILITY_DESERT_AMBUSH
	# Canned definition of the Sand Ambusher ability to be included in an
	# [abilities] clause.
	[hides]
		id=desert_ambush
		name= _ "desert ambush"
		name_inactive= _ "desert ambush"
		description= _ "Desert ambush:
This unit can hide in sand and dunes, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in sand, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
		description_inactive= _ "Desert ambush:
This unit can hide in sand and dunes, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in sand, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
		affect_self=yes
		[filter_self]
			[filter_location]
				terrain=Ds,Dd^Dc,Hd
			[/filter_location]
		[/filter_self]
	[/hides]
#enddef

#define ABILITY_TERROR_LEVEL_1
	[leadership]
		id=terror
		value=-30
		cumulative=no
		name= _ "terror"
		description= _ "Terror:
This unit can frighten enemy units that are next to it, making them fight worse.

Adjacent enemy units of lower level will do less damage in battle. When a unit adjacent to, of the same level, or a lower level than, and is an enemy of the unit with Terror engages in combat, its attacks do 15% less damage times the difference in their levels + 15%."
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=0
			[/filter]
		[/affect_adjacent]
	[/leadership]
	[leadership]
		id=terror
		value=-15
		cumulative=no
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=1
			[/filter]
		[/affect_adjacent]
	[/leadership]
#enddef

#define ABILITY_TERROR_LEVEL_2
	[leadership]
		id=terror
		value=-45
		cumulative=no
		name= _ "terror"
		description= _ "Terror:
This unit can frighten enemy units that are next to it, making them fight worse.

Adjacent enemy units of lower level will do less damage in battle. When a unit adjacent to, of the same level, or a lower level than, and is an enemy of the unit with Terror engages in combat, its attacks do 15% less damage times the difference in their levels + 15%."
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=0
			[/filter]
		[/affect_adjacent]
	[/leadership]
	[leadership]
		id=terror
		value=-30
		cumulative=no
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=1
			[/filter]
		[/affect_adjacent]
	[/leadership]
	[leadership]
		id=terror
		value=-15
		cumulative=no
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=2
			[/filter]
		[/affect_adjacent]
	[/leadership]
#enddef

#define ABILITY_TERROR_LEVEL_3
	[leadership]
		id=terror
		value=-60
		cumulative=no
		name= _ "terror"
		description= _ "Terror:
This unit can frighten enemy units that are next to it, making them fight worse.

Adjacent enemy units of lower level will do less damage in battle. When a unit adjacent to, of the same level, or a lower level than, and is an enemy of the unit with Terror engages in combat, its attacks do 15% less damage times the difference in their levels + 15%."
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=0
			[/filter]
		[/affect_adjacent]
	[/leadership]
	[leadership]
		id=terror
		value=-45
		cumulative=no
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=1
			[/filter]
		[/affect_adjacent]
	[/leadership]
	[leadership]
		id=terror
		value=-30
		cumulative=no
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=2
			[/filter]
		[/affect_adjacent]
	[/leadership]
	[leadership]
		id=terror
		value=-15
		cumulative=no
		affect_self=no
		affect_allies=no
		affect_enemies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=3
			[/filter]
		[/affect_adjacent]
	[/leadership]
#enddef

#define ABILITY_SYLVAN_SPARK
	[regenerate]
		value=5
		id=sylvan_spark
		name= _ "sylvan spark"
		description= _ "Sylvan Spark:
While in the forest (or mushroom grove), the unit will heal itself 5 hp per turn. If it is poisoned, it will remove the poison instead of healing."
		name_inactive= _ "sylvan spark"
		description_inactive= _ "Sylvan Spark:
While in the forest (or mushroom grove), the unit will heal itself 5 hp per turn. If it is poisoned, it will remove the poison instead of healing."
		affect_self=yes
		[filter_self]
			# all forest terrains (tree & mushroom) :
			# - forest,
			# - great tree,
			# - snow forest,
			# - tropical forest,
			# - underground mushroom forest
			# - above ground mushroom forest
			[filter_location]
				terrain=Gs^Fp,Gg^Fet,Aa^Fpa,Gs^Ft,Uu^Uf,Re^Uf
			[/filter_location]
		[/filter_self]
		poison=cured
	[/regenerate]
#enddef

#define ABILITY_SYLVAN_ESSENCE
	# Canned definition of the Illuminates ability to be included in an
	# [abilities] clause.
	[illuminates]
		id=sylvan_essence_illum
		value=25
		max_value=25
		cumulative=no
		name= _ "sylvan essence"
		description= _ "Sylvan Essence:
This unit illuminates the surrounding area, making lawful units fight better, and chaotic units fight worse. Any units adjacent to this unit will fight as if it were dusk when it is night, and as if it were day when it is dusk.

The unit also can heal and cure friendly units on adjacent hexes every turn, to a base maximum of 8 HP. In forest terrains, it will conceal itself from its enemies. It can also regenerate (but not unpoison) 4 HP per-turn, but only on forest or mushroom terrains."
		affect_self=yes
	[/illuminates]
	[heals]
		value=8
		id=sylvan_essence_healing
		affect_allies=yes
		affect_self=no
		poison=cured
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
		[/affect_adjacent]
	[/heals]
	[hides]
		id=sylvan_essence_conceal
		affect_self=yes
		[filter_self]
			[filter_location]
				terrain=Gs^Fp,Gg^Fet,Gs^Ft,Aa^Fpa
			[/filter_location]
		[/filter_self]
	[/hides]
	[regenerate]
		value=4
		id=sylvan_essence_selfheal
		affect_self=yes
		[filter_self]
			# all forest terrains (tree & mushroom) :
			# - forest,
			# - great tree,
			# - snow forest,
			# - tropical forest,
			# - underground mushroom forest
			# - above ground mushroom forest
			[filter_location]
				terrain=Gs^Fp,Gg^Fet,Aa^Fpa,Gs^Ft,Uu^Uf,Re^Uf
			[/filter_location]
		[/filter_self]
	[/regenerate]
#enddef
