#textdomain wesnoth-Invasion_from_the_Unknown

#define AI_TARGET SUF VALUE
	[target]
		{SUF}
		value={VALUE}
	[/target]
#enddef

#define IS_NPC
	[ai]
		ai_algorithm=idle_ai
	[/ai]
#enddef

#define HAS_BOSS_BEHAVIOR
	[ai]
		# built-in default is 1.0, doesn't do it very well, so here I set 10.0
		protect_leader=10.0
		# Dumb kamikaze-style AI which just wants to kill, no matter how
		# it should be. Focus on the leader anyway.
		leader_value=6
		caution=0.0
		aggression=1.0
		# Don't even think on recruiting; might save a few milliseconds
		# of gameplay, not sure.
		recruitment_pattern=""
		village_value=0.0
	[/ai]
#enddef
