#textdomain wesnoth-Invasion_from_the_Unknown

[unit]
	id=Cockatrice
	name= _ "Cockatrice"
	race=monster
	image="units/monsters/cockatrice.png"
	hitpoints=42
	movement_type=smallfoot
	movement=5
	experience=150
	level=2
	alignment=chaotic
	advanceto=null
	{AMLA_DEFAULT}
	cost=25
	usage=fighter
	unit_description= _ "Sometimes known as 'basilisks', these mystical creatures are said to be able to turn the living to stone. Needless to say, this makes them extremely dangerous."
	die_sound=hiss-die.wav
	[attack]
		name=gaze
		description= _"gaze"
		icon=attacks/gaze.png
		type=cold
		range=ranged
		damage=0
		number=2
		[specials]
			{WEAPON_SPECIAL_STONE2}
		[/specials]
	[/attack]
	[attack_anim]
		[attack_filter]
			name=gaze
		[/attack_filter]
		# Doesn't really need a "missile"
		[missile_frame]
			begin=-200
			end=0
			image="misc/blank-hex.png"
			image_diagonal="misc/blank-hex.png"
		[/missile_frame]
		[frame]
			begin=-675
			end=-600
			image="units/monsters/cockatrice-attack01.png"
		[/frame]
		[frame]
			begin=-600
			end=-525
			image="units/monsters/cockatrice-attack02.png"
		[/frame]
		[frame]
			begin=-450
			end=-375
			image="units/monsters/cockatrice-attack03.png"
		[/frame]
		[frame]
			begin=-375
			end=-300
			image="units/monsters/cockatrice-attack04.png"
		[/frame]
		[frame]
			begin=-300
			end=-225
			image="units/monsters/cockatrice-attack05.png"
		[/frame]
		[frame]
			begin=-225
			end=-150
			image="units/monsters/cockatrice-attack06.png"
			sound=wail.wav
		[/frame]
		[frame]
			begin=-150
			end=-75
			image="units/monsters/cockatrice-attack07.png"
		[/frame]
		[frame]
			begin=-75
			end=0
			image="units/monsters/cockatrice-attack08.png"
		[/frame]
		[frame]
			begin=0
			end=75
			image="units/monsters/cockatrice-attack09.png"
		[/frame]
		
		[if]
			hits=no
			[frame]
				begin=75
				end=150
				image="units/monsters/cockatrice-attack10.png"
			[/frame]
		[/if]
		[else]
			hits=yes
			[frame]
				begin=75
				end=150
				image="units/monsters/cockatrice-attack10.png"
				sound=stoned.ogg
			[/frame]
		[/else]
		
		[frame]
			begin=150
			end=225
			image="units/monsters/cockatrice-attack11.png"
		[/frame]
		[frame]
			begin=225
			end=300
			image="units/monsters/cockatrice-attack12.png"
		[/frame]
		[frame]
			begin=300
			end=375
			image="units/monsters/cockatrice-attack13.png"
		[/frame]
		[frame]
			begin=450
			end=525
			image="units/monsters/cockatrice-attack04.png"
		[/frame]
		[frame]
			begin=525
			end=600
			image="units/monsters/cockatrice-attack03.png"
		[/frame]
		[frame]
			begin=600
			end=675
			image="units/monsters/cockatrice-attack02.png"
		[/frame]
		[frame]
			begin=675
			end=750
			image="units/monsters/cockatrice-attack01.png"
		[/frame]
	[/attack_anim]

	{DEFENSE_ANIM "units/monsters/cockatrice-defend.png" "units/monsters/cockatrice.png" hiss.wav }
[/unit]
